/* Dark theme */
body {
    background-color: #1f1f1f; /* Dark background color */
    color: #ffffff; /* Light text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

h1 {
    color: #ffffff; /* Light text color */
}

label {
    color: #ffffff; /* Light text color */
}

input[type="text"],
input[type="number"] {
    color: #ffffff; /* Light text color */
    border: 1px solid #555555; /* Medium border color */
    padding: 8px;
    margin-bottom: 10px;
}


/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333333; /* Dark background color */
    color: #ffffff; /* Light text color */
    text-align: center;
    padding: 10px 0;
    font-size:x-small;
}

